body {
	background-color: #111111; 
	font-family: Ubuntu;
	font-size: 20px;
	color: white;
	/* text-align: center; */
	/* font-weight: 200; */
	/* background: url("images/technology-background-data-grid-or-disco-background_4j1vbphl__F0000.png"); */
	/* background-repeat: no-repeat; */
	/* background-size: 100% 100%; */
	/* background-color: #b3ffff;  */
	/* background-color: #7cf7df;  */
	/* background: radial-gradient(black, white); */
}
ul {
	padding-left: 0em;
	list-style-type: none
}
li {
	margin-left: 1.3em
}
a {
	font-size: 20px;
}
img {
	width: 50%;
	height: 50%;
	
}
